*{
    text-align: center;
}

h1,h2{
    background-color: black;
    color:white;
    text-align: center;
}

img{
    height: auto;
    width: 300px;
}

.maindog{
    height: auto;
    width: 800px;
}

h1{
    font-size: 50px;

}

.exclusion{
    text-align: left;
}

/*
ul li,
ol li{
    text-align: center;
}